body{
    text-align: center;
    margin-top: 20px;
}
input{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    margin-top: 10px;
margin-bottom: 10px;

    
}
.ancher{
    text-decoration: none;
    margin-left: 100px;
   
}
.button1{
    padding: 10px;
    width: 200px;
    background-color: rgb(100, 100, 185);
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    border-style: none;
}
.button1 a{
    text-decoration: none;
    color: white;
   
}
.button2{
    padding: 10px;
    width: 200px;
    
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}
.button2 a{
    text-decoration: none;
    color: black;
}